.width-100 {
    width: 100%;
}

.selecteddialog{
	width: 900px !important;
}

.margin-right {
	margin-right: 10px;
}

.margin-bottom {
	margin-bottom: 10px;
}

.width-100 {
	width: 100%;
}

.white {
	color:  white;
}

.selecteddialog {
	width: 900px;
}

#ticket_list li {
	cursor: pointer;
}
.button-wrap {

	margin-right: -15px;
	display: inline-block;
}

a {cursor: pointer;}

.col-md-center {
	text-align: center !important;
}

.invalid {
	border: 1px solid red !important;
}


td > form > button {
	background: none;
	border: none;
	cursor: pointer;
}

.hidden {
	display: none;
}

.modal-dialog {
	max-width: 800px;
}

tbody td{
	vertical-align: middle !important;
}

.loading-overlay {







          position: fixed; 







          display: none;







          width: 100%; 







          height: 100%; 







          top: 0;







          left: 0;







          right: 0;







          bottom: 0;







          background-color: rgba(0,0,0,0.5); 







          z-index: 8; 







          cursor: pointer; 







}

#fountainG{

	position: relative;

    width: 234px;

    height: auto;

    margin: auto;

    top: 50%;

}



.fountainG{

	position:absolute;

	top:0;

	background-color:rgb(0,0,0);

	width:28px;

	height:28px;

	animation-name:bounce_fountainG;

		-o-animation-name:bounce_fountainG;

		-ms-animation-name:bounce_fountainG;

		-webkit-animation-name:bounce_fountainG;

		-moz-animation-name:bounce_fountainG;

	animation-duration:1.5s;

		-o-animation-duration:1.5s;

		-ms-animation-duration:1.5s;

		-webkit-animation-duration:1.5s;

		-moz-animation-duration:1.5s;

	animation-iteration-count:infinite;

		-o-animation-iteration-count:infinite;

		-ms-animation-iteration-count:infinite;

		-webkit-animation-iteration-count:infinite;

		-moz-animation-iteration-count:infinite;

	animation-direction:normal;

		-o-animation-direction:normal;

		-ms-animation-direction:normal;

		-webkit-animation-direction:normal;

		-moz-animation-direction:normal;

	transform:scale(.3);

		-o-transform:scale(.3);

		-ms-transform:scale(.3);

		-webkit-transform:scale(.3);

		-moz-transform:scale(.3);

	border-radius:19px;

		-o-border-radius:19px;

		-ms-border-radius:19px;

		-webkit-border-radius:19px;

		-moz-border-radius:19px;

}



#fountainG_1{

	left:0;

	animation-delay:0.6s;

		-o-animation-delay:0.6s;

		-ms-animation-delay:0.6s;

		-webkit-animation-delay:0.6s;

		-moz-animation-delay:0.6s;

}



#fountainG_2{

	left:29px;

	animation-delay:0.75s;

		-o-animation-delay:0.75s;

		-ms-animation-delay:0.75s;

		-webkit-animation-delay:0.75s;

		-moz-animation-delay:0.75s;

}



#fountainG_3{

	left:58px;

	animation-delay:0.9s;

		-o-animation-delay:0.9s;

		-ms-animation-delay:0.9s;

		-webkit-animation-delay:0.9s;

		-moz-animation-delay:0.9s;

}



#fountainG_4{

	left:88px;

	animation-delay:1.05s;

		-o-animation-delay:1.05s;

		-ms-animation-delay:1.05s;

		-webkit-animation-delay:1.05s;

		-moz-animation-delay:1.05s;

}



#fountainG_5{

	left:117px;

	animation-delay:1.2s;

		-o-animation-delay:1.2s;

		-ms-animation-delay:1.2s;

		-webkit-animation-delay:1.2s;

		-moz-animation-delay:1.2s;

}



#fountainG_6{

	left:146px;

	animation-delay:1.35s;

		-o-animation-delay:1.35s;

		-ms-animation-delay:1.35s;

		-webkit-animation-delay:1.35s;

		-moz-animation-delay:1.35s;

}



#fountainG_7{

	left:175px;

	animation-delay:1.5s;

		-o-animation-delay:1.5s;

		-ms-animation-delay:1.5s;

		-webkit-animation-delay:1.5s;

		-moz-animation-delay:1.5s;

}



#fountainG_8{

	left:205px;

	animation-delay:1.64s;

		-o-animation-delay:1.64s;

		-ms-animation-delay:1.64s;

		-webkit-animation-delay:1.64s;

		-moz-animation-delay:1.64s;

}







@keyframes bounce_fountainG{

	0%{

	transform:scale(1);

		background-color:rgb(0,0,0);

	}



	100%{

	transform:scale(.3);

		background-color:rgb(255,255,255);

	}

}



@-o-keyframes bounce_fountainG{

	0%{

	-o-transform:scale(1);

		background-color:rgb(0,0,0);

	}



	100%{

	-o-transform:scale(.3);

		background-color:rgb(255,255,255);

	}

}



@-ms-keyframes bounce_fountainG{

	0%{

	-ms-transform:scale(1);

		background-color:rgb(0,0,0);

	}



	100%{

	-ms-transform:scale(.3);

		background-color:rgb(255,255,255);

	}

}



@-webkit-keyframes bounce_fountainG{

	0%{

	-webkit-transform:scale(1);

		background-color:rgb(0,0,0);

	}



	100%{

	-webkit-transform:scale(.3);

		background-color:rgb(255,255,255);

	}

}



@-moz-keyframes bounce_fountainG{

	0%{

	-moz-transform:scale(1);

		background-color:rgb(0,0,0);

	}



	100%{

	-moz-transform:scale(.3);

		background-color:rgb(255,255,255);

	}


}


/*legecy code*/
.fieldsRow
{
	float:left;
	width:100%;
	font-size: 20px;
	margin-top: 5px;
}
.fieldsLabel
{
	float:left;
	width:20%;
	font-weight: bold;
}
.fieldsValue
{
	float:left;
	width:30%;
	padding-right: 10px;	
}
.fieldsValueF
{
	float:left;
	width:80%;
}

.eddialog
{
	width:1300px;	
}

@media only screen and (max-width: 600px) {

	.fieldsRow
	{
		font-size: 15px;
	}
  	.eddialog
	{
		width:95%;	
	}
}



.myButton {
	box-shadow:inset 0px 0px 0px 0px #97c4fe;
	background-color:#3d94f6;
	border-radius:21px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 25px;
	text-decoration:none;
	text-shadow:0px 2px 0px #1570cd;
}
.myButton:hover {
	background-color:#1e62d0;
}
.myButton:active {
	position:relative;
	top:1px;
}

.margin-bottom-0 {
	margin-bottom: 0px !important;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

#car {
	width: 80%;
	float: left;
}

#desitnation {
	width: 	80%;
	float: left;
}

.add {
	width:20%;
}
